<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lwt_server.mapper.BasicMapper">

    <!--检查账号-->
    <select id="checkAccount" resultType="cn.lwt_server.pojo.Account">
        select *
        from mydb.account
        where name = #{name}
    </select>

</mapper>