<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lwt_server.mapper.NormalQuestionsMapper">

    <!--获取列表-->
    <select id="getQuestions" resultType="cn.lwt_server.pojo.Question">
        select *
        from mydb.normal_questions
    </select>
</mapper>